.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 10vh;
  align-self: flex-start;
  margin: auto;
  color: #17296a;
  font-size: 16px;
}

.page-title h1 {
  margin-left: -5%;
}
