* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.page {
  position: relative;
  width: 414px;
  border: 1px solid black;
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 3vh;
}

@media all and (max-width: 414px) {
  .page {
    width: 100%;
    border: 1px solid black;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
}

.head-container {
  position: relative;
}

.content-page-position {
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 0;
}

.title-icon {
  width: 20%;
  height: 100%;
  color: #17296a;
}

.packges-info-control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: 20vh; */
}

.packges-control {
  display: flex;
  height: 6vh;
  margin-top: 2vh;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.add-packges-form {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.add-packeges-input {
  width: 62%;
  height: 90%;
  border: none;
  margin-left: 5px;
}
.add-packges-btn {
  width: 30%;
  height: 90%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.add-packges-btn:focus,
.add-packeges-input:focus {
  outline: none;
}
.assign-packge-btn {
  width: 100%;
  height: 100%;
  color: #17296a;
  cursor: pointer;
}

.green-igam {
  color: #29881b;
}

.blue-igam {
  color: #17296a;
}

.orange-igam {
  color: #ff7d03;
}
.yellow-igam {
  color: rgb(253, 188, 68);
}

.horizontal-line {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
}

.packges-data {
  width: 90%;
}

.packges-head {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packge-routes {
  width: 60%;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.packge-route-btn {
  width: 15%;
  height: 100%;
  background: black;
  border: none;
  border-radius: 30%;
}

.packge-route-btn:focus {
  outline: none;
}
.cards-container {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: auto;
}

.card-icon {
  width: 80%;
  height: 60%;
}
.orange {
  color: #ff7d03;
}

.white {
  color: white;
}
.qarmede {
  color: #cb6215;
}
.yellow {
  color: #efe37a;
}
.blue {
  color: #17296a;
}
.title {
  width: 50%;
  height: 60%;
  text-align: center;
  color: #17296a;
}
.card-icon-title {
  width: 30%;
}

.search-packges-local-container {
  border: 0.1px solid #afafaf;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 5vh;
  margin: 2vh auto;
}

x .packge-detail-title {
  width: 20%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.packge-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #c4c4c4;
  height: 7vh;
  border-radius: 5px;
  color: #17296a;
  margin-bottom: 0.5vh;
}
