.search-local-input {
  border: none;
}

.search-local-input:focus {
  outline: none;
}

.search-local-container {
  border: 1px solid #afafaf;
  border-radius: 2.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 73%;
  height: 5vh;
  margin: 2vh auto;
}
