.locaions-form-container {
  background-color: hsl(206deg, 11%, 85%);
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  color: #17296a;
}
.locaions-form-container h2 {
  margin-bottom: 3vh;
}

.locations-form {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
}

.locations-form input {
  width: 90%;
}

.locations-input-location {
  border: none;
}

.locations-input-location:focus {
  outline: none;
}

.locations-icon {
  background-color: white;
  border-left: 2px solid rgb(223, 220, 220);
  border-bottom: 2px solid rgb(223, 220, 220);
  border-right: 2px solid rgb(223, 220, 220);
  border-top: 2px solid rgb(223, 220, 220);
}
.locations-input-location {
  width: 100%;
}
.locations-form-btn {
  width: 40%;
  height: 70%;
  margin: auto;
  border-radius: 3px;
  background-color: #762986;
  border: none;
  font-size: 16px;
  color: #ebecf1;
}
