.locaions-form-container {
  background-color: hsl(206deg, 11%, 85%);
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  color: #17296a;
  margin: auto;
  margin-top: 30vh;
  position: relative;
}
.locaions-form-container h4 {
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.locaions-form-container label {
  font-size: 12px;
}

.locations-form {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
}

.locations-form input {
  width: 90%;
}

.locations-input-location {
  border: none;
}

.locations-input-location:focus {
  outline: none;
}

.locations-icon {
  background-color: white;
  display: flex;
  align-items: center;
  height: 5vh;
  border-radius: 5px;
  padding: 2px;
}
.locations-input-location {
  width: 100%;
}
.locations-form-btn {
  width: 40%;
  height: 70%;
  margin: auto;
  border-radius: 3px;
  background-color: #c92d5f;
  border: none;
  font-size: 16px;
  color: #ebecf1;
  height: 4vh;
}
